DEPLOYER_PRIVATE_KEY=       # EVM private key for deployment via EVM RPC
EVM_RPC=https://services.polkadothub-rpc.com/testnet
TEST_SEED=                  # sr25519 seed phrase for deployment via Substrate extrinsic
SUBSTRATE_WS_RPC=wss://sys.ibp.network/asset-hub-paseo
